/**
 * @file controls.css
 * Robotics @ Maryland - Terraformers Software
 * 
 * @description This contains CSS rules specifically for controls.html and imports shared CSS rules from helper.css
 * 
 * @author Leo Abubucker
 * Sub-Team: User Interface
 * Contact: Leo Abubucker (leokumar@outlook.com)
 * 
 * Last Modified: 08-17-2026 (MM-DD-YYYY)
 */

@import url("./helper.css"); /* import shared css rules */

.toggleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40vh;
    width: 25vw;
}

button {
    font-size: xx-large;
}

.drivetrainGrid,
.armGridSub1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40vh;
    width: 25vw;
}

.controls {
    display: flex;
    justify-content: space-evenly;
}

.armGridSub2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 40vh;
    width: 8vw;
}

.armGrid {
    display: flex;
}

.armTitle {
    display: flex;
}

.sim {
    height: 50vh;
    width: 50vw;
}

.bottom{
    display: flex;
    flex-direction: row;
}

.aruco {
    height: 50vh;
    width: 45vw;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}