body {
    background: #0f172a;
    font-family: monospace;
    overflow: hidden;
}

.text {
    color: ghostwhite;
}

.header {
    width: 96vw;
    height: 5vh;
    display: flex;
    align-items: center;
    position: relative;
}

.battery{
    position: absolute;
    right:0;
}

.batteryBox{
    display: flex;
    height:5vh;
    width: 10vw;
    background-color: lime;
    text-align: center;
    justify-content: center;
}

.batteryBorder{
    height:5vh;
    width: 10vw;
    border: 2px solid lightgray;
}


.headerText{
    margin: 0 auto;
}
.topics {
    display: flex;
    flex-direction: row;
}

.webTopicPub {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.textbox {
    width: 20vw;
    height: 5vh;
}

.publishedContent {
    display: flex;
    justify-content: left;
    padding-left: 10px;
    width: 100%;
}

.logs {
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    /* background-color: gray; */
}

.logbox{
    width:95%;
    height:90%;
    background-color: transparent;
    color:ghostwhite;
}

.container{
    display: flex;
    flex-direction: row;
}

.container2{
    display: flex;
    flex-direction: column;
}
h3{
    font-size: xx-large;
}